{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}Index{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">


  <h1>You need to know</h1>

  <p>Your symptoms might be caused by a common infection like cold, flu, COVID-19 or a stomach bug.<p>

  <div class="callout callout--info">
    <p>
      Infections can be easily passed on. You should try to avoid contact with other people.
    </p>
  </div>

  <div class="nhsuk-action-link shunt-2">
    <a class="nhsuk-action-link__link" href="javascript: return false;">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
      </svg>
      <span class="nhsuk-action-link__text">Continue</span>
    </a>
  </div>

</div>

{% endblock %}

{% block body_after %}

{% endblock %}
